{
  "server" : true,
  "bootstrap_expect" : {{ consul_node_count - 1 }},
  "encrypt" : "{{ consul_encryption_key }}",
  "data_dir" : "{{ consul_data_dir }}",
  "advertise_addr" : "{{ ansible_eth0.ipv4.address }}",
  "bind_addr" : "{{ ansible_eth0.ipv4.address }}",
  "retry_join" : ["{{ consul_join_node }}"],
  "retry_interval": "10s",
  "skip_leave_on_interrupt": true,
  "leave_on_terminate": false,
  "rejoin_after_leave": true
}
