[Unit]
Description=vault server agent
Requires=network-online.target

[Service]
User=vault
EnvironmentFile=-/etc/sysconfig/vault
Environment=GOMAXPROCS=2
ExecStart={{ vault_install_dir }}/vault server -config=/etc/vault.d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
